<nav class="navbar sticky-bottom fixed-bottom navbar-dark navbar-expand-md shadow-lg">
    <div class="collapse navbar-collapse" id="navbarText">
        <div class= "col s4 text-center">
            <a class="foot-link" href="https://github.com/MunchLoveV2/MunchLove">© 2018 Copyright MunchLove</a>
        </div>
    </div>
</nav>