<nav class="navbar fixed-top navbar-dark navbar-expand-md shadow-lg ">
	<img class="logo img-responsive" src="./trans3.png">
	<a class="navbar-brand brand" href="#">Munch</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link " href="#">About Us</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Sign Up</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Login</a>
			</li>
		</ul>
	</div>
</nav>