<!DOCTYPE html>
<html lang="en">


<head>
		<title>Munch</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../public/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="./styles/styles.css">

	<!--Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
	<!-- Media Query -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<nav class="navbar fixed-top navbar-dark navbar-expand-md shadow-lg ">
  <img class="logo img-responsive" src="../images/trans3.png">
  <a class="navbar-brand brand" href="#">Munch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link " href="#">Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container opacity">
<div id="home" class="text">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="pageTitle">About Munch</h3>
        </div>

    <div class="row">
      <div class="col-12">
        <p>MunchLove - a play on the popular term "Munchies" is a platform to connect the locally minded 
          to the wonderous munchies yet unknown. We believe in the power of community, to keep us connected,
          generate market competition, and improve everyone's quality of life. We hope to encourage like-minded
          individuals to bind together, connect with local businesses, and show off the pride of the community. 
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h3>Development Team</h3>
      </div>
    </div>

    <div class= "row">
      <div class="col-3">
        <div class = "row">
          <img src="../images/mark.jpg" class="img-circle" alt="Mark Buenviaje">
        </div>
        <div class = "row">
          <p>Mark Buenviaje</p>
          </div>
        <div class = "row">
          <p>Team Gigalo</p>
          </div>
        <div class = "row">
          <p>Favorite Munch:</p>
          </div>
        <div class = "row">
          <p>Joe's Crab Shack</p>
        </div>
      </div>

      <div class="col-3">
        <div class = "row">
          <img src="../images/tony.jpg" class="img-circle" alt="Tony Li">
        </div>
        <div class = "row">
          <p>Tony Li</p>
          </div>
        <div class = "row">
          <p>Team Pimp</p>
          </div>
        <div class = "row">
          <p>Favorite Munch:</p>
          </div>
        <div class = "row">
          <p>Pizza Hut</p>
        </div>
      </div>

      <div class="col-3">
        <div class = "row">
          <img src="../images/randi.jpg" class="img-circle" alt="Randi Prince">
        </div>
        <div class = "row">
          <p>Randi Prince</p>
          </div>
        <div class = "row">
          <p>Team Queen</p>
          </div>
        <div class = "row">
          <p>Favorite Munch:</p>
          </div>
        <div class = "row">
          <p>7-11</p>
        </div>
      </div>

      <div class="col-3">
        <div class = "row">
          <img src="../images/lifan.jpg" class="img-circle" alt="Lifan Jin">
        </div>
        <div class = "row">
          <p>Lifan Jin</p>
          <p>Team Potato</p>
          <p>Favorite Munch:</p>
          <p>The Boiling Crab</p>
        </div>

      </div>
    </div>
    </div>
  </div>
</div>
</div>
<nav class="navbar sticky-bottom fixed-bottom navbar-dark navbar-expand-md shadow-lg">
  <div class="collapse navbar-collapse" id="navbarText">
    <div class= "col s4 text-center">
      <a class="foot-link" href="https://github.com/MunchLoveV2/MunchLove">© 2018 Copyright MunchLove</a>
    </div>
  </div>
</nav>

<style>
	body {
		background-color: rgb(206, 232, 245);
		background-image: url("../images/bg.jpg"); 
		background-size: 100%; 
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
		/* background: radial-gradient(circle, white, black); */
	}

	.navbar {
		background: rgba(0,0,0,0.8);
		padding-bottom: 0px; 
		padding-top: 0px;
	}

	@media screen and (min-width:768px) {
    	nav {
			max-height: 120px;
		}
    }

	.brand {
		/* font-family: 'Sacramento', cursive; */
		/* font-family: 'Fredericka the Great', cursive; */
		font-family: 'Amatic SC', cursive;
		font-size: 6em;
		color: white;
		transform: scale(1, 1);
		padding: 0px 30px 0px 30px;
	}

  .text {
    color:white;
  }

	.nav-item{
		margin:15px;
	}

	.nav-link {
		/* font-family: 'Sacramento'; */
		/* font-family: 'Fredericka the Great', cursive; */
		font-family: 'Amatic SC', cursive;
		font-size: 2em;
		color: white;
		float: right;
	}

	.foot-link {
		font-family: 'Amatic SC', cursive;
		font-size: 150%;
		color: white;
	}

	.logo  {
		width: 5em;
		height: 5em;
	}

	#search {		
		margin-top: 200px;
	}

	#searchbutton {	
		display: block;	
		margin-left: auto;
    	margin-right: auto;
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 40px;
		background: rgba(0,0,0,0.7);
	}
	
  .img-circle {
    border-radius: 100%;
   width:200px; height:200px;


  }

	.homesearch {
		margin-top: 10em;
	}

  #home {
    margin-top: 150px;
  }

  .opacity {
    background: rgba(0,0,0,0.7);
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
  }

  .pageTitle {
    font-size: 2em;
  }

</style>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>