<div id="home">
		<div class="container homesearch">
			<div class="row">
				<div class="col-4 offset-4">
					<form class="clearfix mb-4" action="GET">
						<div class="form-group">
							<input type="text" id="search" class="form-control shadow-lg p-4" aria-describedby="search" placeholder="Zip code?">
						</div>
						<button id="searchbutton" class="btn btn-danger btn-lg shadow-lg" data-toggle="button" aria-pressed="false" autocomplete="off" role="button" aria-pressed="true">Let's get munching!</button>
					</form>
				</div>
			</div>
		</div>
	</div>

