<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-4 offset-4">
         <h2>Not a Muncher yet? <a href="/signup">Sign Up</a></h2>
         <h2>Already a Muncher? <a href="/login">Log In</a></h2>
         <h2>Wanna know more? <a href="/aboutus">About Us</a></h2>
        <form class="clearfix mb-4" action="GET">
          <div class="form-group">
            <input type="text" id="search" class="form-control" aria-describedby="search" placeholder="Search for Munches Around You!">
          </div>
          <button id="searchbutton" class="btn btn-primary float-right">Go!</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}
