<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Not a Muncher yet? <a href="/signup">Sign Up</a></h2>

{{!-- These should be validation/authentication actions!! Will need to research these later --}}
        <form class="clearfix mb-4" id="login" name="login" method="post" action="login">
          <div class="form-group">
            <label for="enterusername">Username</label>
            <input type="text" name="username" id="username" type="username" class="form-control" aria-describedby="enterusername" placeholder="XxprincesscupcakexX">
          </div>
          <div class="form-group">
            <label for="enterpassword">Password</label>
            <input type="text" name="password" id="password" type="password" class="form-control" aria-describedby="enterpassword" placeholder="password123">
          </div>
          <button id="login" class="btn btn-primary float-right" value="Log In">Log In</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../../public/js/index.js"></script> --}}
