<div id="home">
  <div class="container">
    <div class ="row">
      <div class = "col-4 offset-4">
        <form class="clearfix mb-4" action="GET">
          <div class="form-group">
            <input type="text" id="search" class="form-control" aria-describedby="search" placeholder="Search Another Area?">
          </div>
          <button id="searchbutton" class="btn btn-primary float-right">Go!</button>
        </form>
      </div>
    </div>
    <div class="row">
    {{#each businesses}}
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src={{image}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Name: {{name}}</h5>
            <h4 class="card-title">Rating: {{rating}}</h4>
            <h4 class="card-title">Phone Number: {{phone}}</h4>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    {{/each}}
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
