<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Already a Muncher? <a href="/login">Log In</a></h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="pickusername">Choose a Username</label>
            <input type="text" id="pickusername" class="form-control" aria-describedby="pickusername" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="password">Choose a Password</label>
            <input type="text" id="pickpassword" class="form-control" aria-describedby="pickpassword" placeholder="Enter a password">
          </div>
           <div class="form-group">
            <label for="email">Enter Email Address</label>
            <input type="text" id="emailaddress" class="form-control" aria-describedby="emailaddress" placeholder="example@bob.com">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Recent Munchers:</h3>
        <ul id="userinfo-list" class="list-group">
          {{#each userinfos}}
          <li data-id="{{this.username}}" class="list-group-item">
            {{!-- We wont need this to link... but it will be good template for later maybe --}}
            <a href="userinfo/{{this.username}}">{{this.username}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
