<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Totally Secure Login Info</h5>
          <p>
            <strong>Created</strong>: {{userinfo.created_at}}</p>
          <p>
          <p>
            <strong>Username</strong>: {{userinfo.username}}</p>
          <p>
            <strong>Password:</strong> {{userinfo.password}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
